#dashboardContainer{
    /* border: 1px solid black; */
    background-color: rgba(255, 255, 255, 0.675);
    width: 500px;
    height: auto;
    padding: 10px 10px 10px 10px;
    border-radius: 20px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#linksContainer{
    width: 80%;
    display: flex;
    flex-direction: column;

    gap: 15px;

    /* border: 1px solid black; */
}

.linkContainerDashboard{

    display: flex;
    flex-direction: row;
    align-items: center;

    justify-content: space-between;
    
    width: auto;
    /* border: 1px solid black; */
}

.linkContainerDashboard>label{
    font-size: 18px;
    font-family: sans-serif;
}

.linkContainerDashboard>input{
    border: 1px lightgrey solid;
    background-color: white;
    height: 30px;
    width: 200px;
    border-radius: 5px;
    font-size: 15px;
    font-family: sans-serif;
}

.linkContainerDashboard>textarea{
    border: 1px lightgrey solid;
    background-color: white;
    height: 60px;
    width: 200px;
    border-radius: 5px;
    font-size: 14px;
    font-family: sans-serif;
}

#linkContainerTextArea{
    align-items: start;
    /* border: 1px solid black; */
}

.linkContainerDashb>input:hover{
    border: 1px solid rgb(88, 88, 239);
    box-shadow: 0px 2px 2px rgba(0, 0, 255, 0.448);
}

#dashboardTitle{
    font-size: 30px;
    font-weight: 600;
    font-family: sans-serif;
}


#submitBtn{
    border: none;
    width:60%;
    background-color: blueviolet;
    height: 40px;
    font-size: 15px;
    border-radius: 7px;
    color: white;
}

#submitBtn{
    cursor: pointer;
}

#userLogo{
    width: 20%;
    height: 10%;
}

#logoutBtnDashboard{
    position: absolute;
    left: 920px;
    top: 140px;
    border: none;
    background-color: red;
    color: white;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
}

@media (max-width: 1200px) {

    #logoutBtnDashboard{
        left: 700px;
        top: 120px;
        width: 80px;
        height: 30px;
        border-radius: 5px;
}
}

@media (max-width: 900px) {

    #logoutBtnDashboard{
        left: 600px;
        top: 120px;
        width: 80px;
        height: 30px;
        border-radius: 5px;
}
}

@media (max-width: 700px) {

    #logoutBtnDashboard{
        left: 470px;
        top: 120px;
        width: 80px;
        height: 30px;
        border-radius: 5px;
}
}

@media (max-width: 500px) {
    #logoutBtnDashboard{
        margin-left: 100px;
        position: fixed;
        left: 600px;
        top: 0px;
        width: 80px;
        height: 30px;
        border-radius: 5px;
}


#dashboardContainer{
    /* border: 1px solid black; */
    width: 300px;
    height: auto;
    padding: 10px 10px 10px 10px;
    border-radius: 20px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
}



#dashboardTitle{
    font-size: 20px;
}

#linksContainer{
    width: 80%;
    display: flex;
    flex-direction: column;

    gap: 5px;

    /* border: 1px solid black; */
}

.linkContainerDashboard>label{
    font-size: 15px;
}

.linkContainerDashboard>input{
    border: 1px lightgrey solid;
    background-color: white;
    height: 25px;
    width: 180px;
    border-radius: 5px;
    font-size: 12px;
}

.linkContainerDashboard>textarea{
    border: 1px lightgrey solid;
    background-color: white;
    height: 60px;
    width: 180px;
    font-size: 12px;

    border-radius: 5px;
}

#linkContainerTextArea{
    align-items: start;
    /* border: 1px solid black; */
}

#userLogo{
    width: 20px;
    height: 20px;
}



}